.footer {
    border-radius: 0 200px 0 0;
    background: #316099;
    width: calc(100% - 96px);
    padding-top: 91px;
    padding-bottom: 64px;

    &-top {
        &__container {
            max-width: 860px;
            margin: 0 auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            width: 317px;
        }

        &__descr {
            width: 460px;
            margin-top: 32px;
        }
    }

    &__line {
        border: none;
        margin: 96px 0;
        height: 1px;
        width: calc(100% - 197px);
        opacity: 0.4;
        background-color: #fff;
    }

    &-bottom {
        &__container {
            max-width: 737px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__logo {
            font-size: 28px;
            line-height: 46px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            display: flex;
            align-items: center;

            span {
                margin-left: 16px;
            }
        }

        &__list {
            transform: translateX(16px);
            width: 300px;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;

            span {
                position: relative;
                left: 16px;
            }

            &-phone,
            &-email {
                margin-top: 24px;
            }

            &-address {
                margin-top: 32px;
                list-style-type: 'A.';
            }

            &-phone {
                list-style-type: 'T.';
            }

            &-email {
                list-style-type: 'E.';
            }

        }
        &__blocks {
            display: flex;

        }
        &__block {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            &:last-child {
                margin-left: 77px;
            }
            &-list {
                margin-top: 32px;
            }

            &-link {
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: #FFFFFF;

                &:not(:first-child) {
                    margin-top: 16px;
                }
            }
        }
    }

    &__copyright {
        margin-top: 64px;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.4;
    }
}