@import '../base/variables';
.promo {
    transform: translateY(130px);
    padding: 56px 0 190px;
    background: url('../img/promo-bg.svg') center center / cover no-repeat;
    &__title {
        width: 510px;
    }

    &__descr {
        margin-top: 32px;
        width: 425px;
    }

    &__btn {
        margin-top: 71px;
    }
}