    @import '../base/variables';

    .whatwedo {
        padding: 180px 0 192px;

        &__inner-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__blocks-wrapper {
            display: flex;
            flex-direction: column;
        }

        &__title {
            width: 360px;
        }

        &__block {
            padding: 48px;
            width: 380px;
            height: 525px;
            background: #FFFFFF;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            transition: all .3s ease;

            &:hover {
                box-shadow: 5px 25px 60px rgba(16, 112, 177, 0.3);
            }

            &:last-child {
                margin-top: 100px;
            }

            &-img {
                margin: 0 auto;
                margin-right: 76px;
                display: block;
            }

            &-header {
                margin-top: 56px;
            }

            &-descr {
                margin-top: 16px;
            }

            &-more {
                font-size: 14px;
                line-height: 30px;
                letter-spacing: 0.05em;
                color: $secondary-color;
                display: flex;
                align-items: center;
                margin-top: 32px;

                &:hover {
                    svg {
                        transform: rotate(90deg);
                    }
                }

                svg {
                    margin-left: 24px;
                    transition: all .3s ease;
                }
            }

            &--unique {
                padding-top: 0;
                .whatwedo__block-img {
                    display: block;
                    margin: 0 auto;
                    margin-top: -22px;
                }

                .whatwedo__block-header {
                    margin-top: 51px;
                }
            }

            &--left {
                position: absolute;
                left: 80px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }